#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

#myCarousel{
    background-color: #f0e0df;
}
#myCarousel img{
    height: 300px;
    margin-top: 40px;
}
#myCarousel p{
    font-size: 23px;
    color: fuchsia;
    margin-top: 30px;
    margin-bottom: 30px;
}
.h1{
    color: darkturquoise;
}